@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Bank App</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__menu">
                <h1 class="logo">Bank</h1>
                <ul class="nav__menu">
                    <li class="home__button">
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="about__button">
                        <a href="#">
                            About us
                        </a>
                    </li>
                    <li class="contacts__button">
                        <a href="#">
                            Contacts
                        </a>
                    </li>
                    <li class="sign-in">
                        <a href="#">
                            Sign in
                        </a>
                    </li>
                    <li class="sign-up">
                        <a href="#">
                            Sign up
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__content">
                <h1 class="header__title">Your best choice</h1>
                <div class="start__button">
                    <a class="start" href="#">GO</a>
                </div>
            </div>
        </div>
    </header>
    <section class="sect1">
        <div class="container">
            <div class="section1__content">
                <div class="quality__content">
                    <h1 class="quality__title-1">Best quality</h1>
                    <div class="quality__text-backroung">
                        <p class="quality__text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <div class="qual__logo">
                        <img class="quality__logo" src="~/img/quality-logo.png" alt="Quality">
                    </div>
                    <div class="arrow__logo">
                        <img class="arrow-1" src="~/img/arrow.png" alt="Arrow">
                    </div>
                    <h1 class="quality__title-2">Fast transactions</h1>
                    <div class="transaction__text-bg">
                        <p class="fast__text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <div class="fast__logo">
                        <img src="~/img/fast-logo.png" alt="Fast">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect2">
        <div class="container">
            <div class="section2__content">
                <h1 class="about__title">Our history</h1>
                <div class="about__text">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="photos">
                    <img class="people__photo-1" src="~/img/people1.jpg" alt="People">
                    <img class="people__photo-2" src="~/img/people2.jpg" alt="People">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__content">
            <p class="copyright__text">©2020 BANK - All rigths reserved</p>
        </div>
    </footer>
</body>
</html>