@model BankApp.PL.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="container">
        <div class="header__menu">
            <h1 class="logo">Bank</h1>
            <ul class="nav__menu">
                <li class="home__button">
                    <a asp-action="Index" asp-controller="Home">
                        Home
                    </a>
                </li>
                <li class="about__button">
                    <a href="#">
                        About us
                    </a>
                </li>
                <li class="contacts__button">
                    <a href="#">
                        Contacts
                    </a>
                </li>
                <li class="sign-in">
                    <a asp-action="Index" asp-controller="Login">
                        Sign in
                    </a>
                </li>
                <li class="sign-up">
                    <a asp-action="Index" asp-controller="Register">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
    </div>
<div class="main">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="post" asp-action="RegisterAccount" asp-controller="Register" class="register-form">
                        <div class="data__validation" asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input asp-for="FirstName" type="text" placeholder="Your first name" />
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input asp-for="LastName" type="text" placeholder="Your last name" />
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-email"></i></label>
                            <input asp-for="Email" type="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Password" type="password" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-lock-outline"></i></label>
                            <input asp-for="PasswordConfirm" type="password" placeholder="Repeat your password" />
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" class="form-submit" value="Register" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/img/signup-image.jpg" alt="sing up image"></figure>
                    <a asp-action="Index" asp-controller="Login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="footer__content">
        <p class="copyright__text">©2020 BANK - All rigths reserved</p>
    </div>
</footer>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/js/main.js"></script>
</body>
</html>